<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <style>
    #review-log-table th,
    #review-log-table td {
      border: 2px solid #dee2e6; /* 선 두께를 2px로 설정 */
      text-align: center;
      vertical-align: middle;
    }

    #review-log-table th {
      font-weight: bold;
    }

    #page-buttons .btn {
      margin: 0 2px;
    }

    .d-flex.justify-content-center {
      gap: 0.5rem;
    }
  </style>

  <style>
    .form-control {
      width: 100%;
      height: 38px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .pagination-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .table-container {
      position: relative;
    }

    .profile-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* 이미지의 중앙을 맞추고, 자르기 */
      object-position: center; /* 중앙 위치 */
    }

  </style>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>브랜딩 페이지</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="#" rel="icon">
  <link href="#" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  <link th:href="@{/assets/css/style-h.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="header :: header"></div>

<main id="main" class="main">

  <div class="pagetitle">
    <h1 th:text="'임시 닉네임님의 브랜딩 페이지'">임시 닉네임님의 브랜딩 페이지</h1>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="card">
        <!-- profile  -->
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <img th:src="@{/assets/img/basic/customer-basic-profile.png}" alt="Profile" class="rounded-circle">
          <h2 id="nickname-holder-section" style="font-size: 1.5rem; margin: 0.5rem 0;">임시 닉네임</h2>
          <div class="social-links mt-2" style="display: flex; align-items: center; justify-content: center;">
            <!-- 찜 버튼 -->
            <button id="zzimButton"
                    style="background-color: #ffe6e6; border: none; font-size: 1.5rem; cursor: pointer; padding: 0.5rem 1rem; border-radius: 5px; display: flex; align-items: center; outline: none; height: 40px;">
              <i id="heartIcon" class="ri-heart-3-fill"
                 style="margin-right: 0.7rem; color: pink;"></i>
              <span id="zzimCount" style="font-size: 1rem; color: #333;">0</span>
            </button>

            <!-- 제안하기 버튼 -->
            <div id="proposalButtonContainer"></div>
          </div>
        </div>

        <div class="card-body pt-3">
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview"
                 id="profile-overview">

              <div class="row">
                <div class="col-lg-3 col-md-4 label" style="color : blue">소개</div>
                <div class="col-lg-8 col-md-6">
                  <input id="introduce-input" type="text" name="to_nickname"
                         value="임시 소개"
                         class="form-control" readonly>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label" style="color : blue">닉네임</div>
                <div class="col-lg-8 col-md-6">
                  <input id="nickname-input" type="text" name="to_nickname"
                         value="임시 닉네임"
                         class="form-control" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label" style="color : blue">연령대</div>
                <div class="col-lg-8 col-md-6">
                  <input id="agegroup-input" type="text" name="to_nickname"
                         value="임시 연령대"
                         class="form-control" readonly>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label" style="color : blue">활동 분야</div>
              <div class="col-lg-8 col-md-6">
                <div id="food-type-buttons">
                  <!-- 임시로 버튼을 추가했습니다. -->
                  <button style="background-color: orange; border: none; color: white; padding: 10px; margin: 5px; border-radius: 5px;" disabled>국밥</button>
                </div>
                <p id="food-type-buttons-message" class="text-primary"
                   style="font-size: 18px;">임시 활동 분야</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label" style="color : blue">태그</div>
              <div class="col-lg-8 col-md-6">
                <div id="tag-buttons">
                  <!-- 임시로 버튼을 추가했습니다. -->
                  <button style="background-color: green; border: none; color: white; padding: 10px; margin: 5px; border-radius: 5px;" disabled>초식</button>
                </div>
                <p id="tag-select-message" class="text-primary"
                   style="font-size: 18px;">임시 태그</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label" style="color:blue">리뷰 로그</div>
              <div class="col-lg-8 col-md-6">
                <div class="table-container">
                  <p style="font-size: 18px; color : hotpink">아직 리뷰 기록이 없어요.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->

<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span><a href="#" target="_blank">nugunaTeam</a></span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- icon bootstrap -->
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>
